.about_me {
  background: #EAF2FD;
  display: flex;
  justify-content: center;
  height: 15rem;
}

.about_me__title {
  margin-top: 2rem;
  text-align: center;
  width: 70%;
}

#about_me__text {
  margin-top: 2rem;
  text-align: center;
}