.footer {
  background: #eaf2fd;
  text-align: center;
  padding: 30px 0;
}

.footer a {
  color: black;
}

.social__links {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 2rem auto;
}

.social__links a {
  margin: 0 1rem;
}

.social__links a{
  display: flex;
  justify-content: center;
  flex-direction: column;
}