.hero {
  background: rgba(0, 0, 0, .1);
  display: flex;
  justify-content: space-between;
  height: 4rem;
  /*This is for leave static the header, when scroll down*/
  position: fixed;
  width: 100%;
  margin-top: -4rem;
  z-index: 1;
}

.logo img {
  position: relative;
  margin: .5rem 1rem;
  height: 3rem;
  width: 3rem;
}

.nav {
  text-align: center;
}

.links {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: .7rem;
  left: 32%;
}

.links li {
  margin: 1rem;
  font-size: 15px;
  list-style-type: none;
}

.links li a {
  text-decoration: none;
  color: #2A7AE4;
  transition: .5s;
}

.links li a:hover {
  cursor: pointer;
  color: #464646;
}

#email--hero a {
  font-weight: 550;
  color: #464646;
  position: relative;
  left: 5rem;
  transition: .5s;
}

#email--hero a:hover {
  cursor: pointer;
  color: #2A7AE4;
}