.presentation {
  display: flex;
  margin: 2rem;
  max-width: 1100px;
  flex-direction: row-reverse;
}

.photo--container {

}

#photo {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.presentation--container h2 {
  margin: 0 .5rem;
  padding: .5rem;
}

.presentation--container p {
  margin: 0 .5rem;
  padding: .5rem;
}

.social--networks {
  display: flex;
}

.social--networks li {
  position: absolute;
}