.presentation {
  display: flex;
  margin-top: 4rem;
  /* max-width: 1100px; */
  flex-direction: row-reverse;
  justify-content: center;
  width: 80%;
  margin-left: 10rem;
}

#photo {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}

.presentation--container h2 {
  margin: 0 .5rem;
  padding: .5rem;
  font-size: 3rem;
}

.presentation--container p {
  margin: 0 .5rem;
  padding: .5rem;
}

.social--networks {
  display: flex;
}

.social--networks .social-links {
  display: flex;
  list-style-type: none;
  position: absolute;
  padding: 1rem;
  top: 21rem;
}

.social--networks .social-links a{
  margin: 0 .5rem;
  text-decoration: none;
  color: #464646;
  justify-content: center;
  transition: .5s;
}

.social--networks .social-links a:hover {
  color: #4f8fe4;รง
}

.social--networks .social-links .fa-brands {
  margin: 1rem;
}

.social--networks .social-links .fa-solid {
  margin: 1rem;
}