.presentation {
  background-image: url(../images/presentation-bg.jpg);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  margin-top: 4rem;
  /* max-width: 1100px; */
  flex-direction: row-reverse;
  justify-content: center;
  height: 100vh;
}

#photo {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin-top: 10rem;
}

.presentation--container {
  padding: 2rem;
  margin-top: 10rem;
}

.presentation--container h2 {
  margin: 0 .5rem;
  padding: .5rem;
  font-size: 3rem;
}

.presentation--container p {
  margin: 2rem .5rem;
  padding: .5rem;
}

.social--networks {
  display: flex;
}

.social--networks .social-links {
  display: flex;
  list-style-type: none;
  position: absolute;
  padding: 1rem;
  margin-top: 40rem;
  margin-left: 20rem;
}

.social--networks .social-links a{
  margin: 0 .5rem;
  text-decoration: none;
  color: #4f8fe4;
  justify-content: center;
  transition: .5s;
}

.social--networks .social-links a:hover {
  color: #464646;
}

.social--networks .social-links .fa-brands {
  margin: 1rem;
}

.social--networks .social-links .fa-solid {
  margin: 1rem;
}