#portfolio {
  max-width: 1100px;
  padding: 100px 0;
  margin: auto;
}

#portfolio .title-section {
  text-align: center;
}

#portfolio .row {
  display: flex;
  justify-content: space-between;
  margin: 3rem 2rem;
  flex-wrap: wrap;
}

#portfolio .row .project {
  max-width: 450px;
  margin-bottom: 3rem;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 5px #cccccc;
  border-radius: 5px;
}

#portfolio .row .project img {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  object-fit: cover;
  transition: .5s;
}

#portfolio .row .project:hover img {
  filter: grayscale(0);
}

#portfolio .row .project .info {
  position: absolute;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  color: #ffffff;
  width: 100%;
  padding: 10px;
  opacity: 0;
  bottom: -40px;
  transition: .5s;
}

#portfolio .row .project:hover .info {
  opacity: 1;
  bottom: 0;
}

.info a {
  margin-left: 2rem;
  text-decoration: none;
  color: #2A7AE4;
}

/*Responsive design*/

@media screen and (max-width: 800px) {
  #portfolio .row .project img {
    filter: none;
    margin-bottom: -8px;
  }

  #portfolio .row .project .info {
    position: inherit;
    opacity: .9;
    font-size: 14px;
  }

  .info p {
    margin: 7px;
  }

  .info a {
    padding: 5px;
    background: #fff;
    border-radius: 5px;
  }
}