.studies {
  background: #EAF2FD;
  display: flex;
  justify-content: center;
  padding: 2rem;
  flex-wrap: wrap;
}

.studies h2 {
  position: absolute;
}

.studies__card {
  display: flex;
  padding: 2rem;
  list-style: none;
}

.studies__card li {
  background: #fff;
  margin: 2rem .4rem;
  width: 368px;
  height: 286px;
  text-align: center;
  box-shadow: 5px 5px 5px #cccccc;
  border-radius: 5px;
}

.studies__card img {
  margin-top: 4rem;
}

#arg__programa {
  margin-bottom: 1.7rem;
  position: relative;
  top: 1rem;
}

.title__studies {
  margin-top: 6rem;
  color: #464646;
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
}

.description__studies {
  color: #a7a8a7;
  margin-top: .5rem;
  font-size: 13px;
  position: relative;
}